.user-panel {
  height: 4em;
}
.navbar , .logo{
  background-color: #007a77 !important;
}
.box-header a {
  color: #007a77;
}
/* #graphContainer {
  background: url('./static/src/images/window.gif');
} */