.user-panel {
  height: 4em;
}
.navbar , .logo{
  background-color: #01574a !important;
}
.box-header a {
  color: #01574a;
}
/* #graphContainer {
  background: url('./static/src/images/window.gif');
} */
/*.sidebar-menu span {
  margin-top: 6px;
}*/
